.venv/
venv/
__pycache__/
*.pyc
.DS_Store
.env
.env.*
instance/*.db
instance/*.sqlite3
*.log
pgdata/
pgdata/**
pgdata/*
pgdata/data/
pgdata/data/**
pgdata/data/*
/pgdata/
pgdata
.pytest_cache/
.mypy_cache/
__pycache__/
*.py[cod]
*.egg-info/
*.sqlite3
